*

!.github/
!assets/
!assets/**/
!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!.justfile
!CMakeLists.txt
!.clang-format
!.cmake-format.py
!LICENSE
!README.md

!docs/
!docs/**/
!examples/
!examples/**/
!include/
!include/**/
!scripts/
!scripts/**/
!tests/
!tests/**/

!*.md
!*.svg
!*.png
!*.nix
!*.lock
!*.sh
!*.c
!*.h
!*.cc
!*.hh
!*.cxx
!*.hxx
!*.cpp
!*.hpp
!*.cu
!*.cuh

!public/
!public/**/
!*.mesh
!*.data
!*.js
!*.wasm
